*, ::after, ::before {
    box-sizing: border-box;
}
body {
    background: #B5D3E7;
    margin: 0;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
body>header, #content {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
}
body>header {}
/*#content article p {*/
/*    text-align: right;*/
/*    background: #FFF;*/
/*}*/
h1 {
    margin-top: 0;
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.7em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.1em;
}
h6 {
    font-size: 0.8em;
}
ul.articles-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.articles-list li {
    padding-bottom: 30px;
}
ul.articles-list li::after {
    /* clearfix */
    content: "";
    clear: both;
    display: table;
}
ul.articles-list li article {
    display: flex;
    flex-direction: row;
}
ul.articles-list li header {
    order: 2;
    flex: 0 0 70%;
    padding-left: 15px;
}
ul.articles-list li h3 {
    margin: 0;
    font-size: 1.5em;
}
ul.articles-list li .img {
    order: 1;
}
ul.articles-list li .img:hover {
    transform: rotate(10deg);
    transition: transform 1s;
}
ul.articles-list img,
.article-content img {
    width: 100%;
}

table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #5CB4FF;
}
table th {
    text-align: left;
}
table thead tr,
table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

svg {
    margin: 0 auto;
    border: 1px solid black;
}

line {
    stroke: black;
    stroke-width: 4;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.form-check-inline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: .75rem;
}

.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: .3125rem;
    margin-left: 0;
}

.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}

.form-check-label {
    margin-bottom: 0;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

textarea {
    overflow: auto;
    resize: vertical;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

@media screen and (max-width:770px) {
    ul.articles-list li article {
        flex-wrap: wrap;
    }
    ul.articles-list li header {
        flex-basis: 100%;
        padding: 0;
    }
}

.form-control:invalid {
    border-color: #dc3545;
}

.form-check-input:invalid~.form-check-label {
    color: #dc3545;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    opacity: 1;
    height: auto;
}

.alert.hidden {
    transition: opacity 1s ease-out;
    opacity: 0;
    overflow: hidden;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

@media screen and (max-width:400px) {
    body {
        font-family: "Courier New", Courier, mono, serif;
        font-size: 0.9em;
    }
    h1 {
        margin-top: 0;
        font-size: 2.4em;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.4em;
    }
    h4 {
        font-size: 1.1em;
    }
    h5 {
        font-size: 0.9em;
    }
    h6 {
        font-size: 0.7em;
    }
    ul.articles-list li H3 {
        font-size: 1.2em;
    }
}

@media print {
    body {
        background: none;
        padding: 0;
    }

    /*ul.articles-list li article {
        display: block;
    }
    ul.articles-list li header {
        float: right;
        width: 70%;
    }
    ul.articles-list li .img {
        float: left;
        width: 30%;
    }*/
}